$main: #ffffff;
$back2: #1070ca;
$back-link: #4da8ff;
$box: #212528;
$box-header: #1e1e1e;
$box-dots: #464a4d;
$box-desc: #808082;
$box-list: #a3a3a3;
$box-link: #14b5d0;

//media breakpoints
$desktop: 960px;

//fonts
$nunito: "Nunito", sans-serif;
$roboto-mono: "Roboto Mono", monospace;

@mixin mobile-header1 {
	font: 700 36px $nunito;
	line-height: 48px;
}

@mixin mobile-header2 {
	font: 700 26px $nunito;
	line-height: 32px;
}

@mixin mobile-text {
	font: 300 16px $nunito;
	line-height: 32px;
}

@mixin mobile-text-bold {
	font: 700 16px $nunito;
	line-height: 32px;
}

@mixin mobile-console {
	font: 400 16px $roboto-mono;
	line-height: 24px;
}

@mixin header1 {
	font: 700 48px $nunito;
	line-height: 56px;
}
@mixin header2 {
	font: 700 32px $nunito;
	line-height: 40px;
}
@mixin header3 {
	font: 700 24px $nunito;
	line-height: 44px;
}
@mixin text {
	font: 300 20px $nunito;
	line-height: 40px;
}
@mixin text-bold {
	font: 700 20px $nunito;
	line-height: 40px;
}
@mixin list {
	font: 600 16px $nunito;
	line-height: 24px;
}
@mixin console {
	font: 300 16px $roboto-mono;
	line-height: 24px;
}
