//colors

$main: #ffffff;
$blue: #1070ca;
$blue-light: #dbeaf7;
$blue-lightest: #f6f9fd;
$green: #06c847;
$black: #000000;

$text-dark: #234361;
$text: #425a70;
$text-muted: #66788a;
$link: #4da8ff;
$console-link: #14b5d0;

$console1: #1e1e1e;
$console2: #212528;
$console3: #464a4d;
$console4: #808082;
$console5: #a3a3a3;

//media breakpoints
$desktop: 960px;

//fonts
$nunito: "Nunito", sans-serif;
$roboto-mono: "Roboto Mono", monospace;

@mixin mobile-header1 {
	font: 700 36px $nunito;
	line-height: 48px;
}

@mixin mobile-header2 {
	font: 700 26px $nunito;
	line-height: 32px;
}

@mixin mobile-text {
	font: 300 16px $nunito;
	line-height: 32px;
}

@mixin mobile-text-bold {
	font: 700 16px $nunito;
	line-height: 32px;
}

@mixin mobile-console {
	font: 400 13px $roboto-mono;
	line-height: 24px;
}

@mixin header1 {
	font: 700 48px $nunito;
	line-height: 56px;
}
@mixin header2 {
	font: 700 32px $nunito;
	line-height: 40px;
}
@mixin header3 {
	font: 700 24px $nunito;
	line-height: 44px;
}
@mixin text {
	font: 300 20px $nunito;
	line-height: 40px;
}
@mixin text-bold {
	font: 700 20px $nunito;
	line-height: 40px;
}
@mixin list {
	font: 600 16px $nunito;
	line-height: 24px;
}
@mixin console {
	font: 400 16px $roboto-mono;
	line-height: 24px;
}
