@import "~normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Roboto+Mono&display=swap");
@import "_variables";

*,
*:before,
*:after {
	box-sizing: inherit;
	text-decoration: none;
	list-style-type: none;
}
html {
	box-sizing: border-box;
	font-family: $nunito;
	margin: 0;
}

body {
	background: $main;
	min-height: 100vh;
}

.main {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.section__header {
	margin: 0;
	@include mobile-header1;
	text-align: center;
	color: $text-dark;
	@media screen and (min-width: $desktop) {
		@include header1;
	}
}

.skills {
	background-color: $blue;
	padding: 0 16px;
	display: inline-block;
	width: 100%;
	@media screen and (min-width: $desktop) {
		padding: 0 128px;
	}
	&__header {
		color: $main;
		margin: 64px 0 64px;
		@media screen and (min-width: $desktop) {
			margin: 80px 0 128px;
		}
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media screen and (min-width: $desktop) {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			column-gap: 24px;
		}
	}
	&__list {
		&--emoji {
			line-height: 64px;
			@media screen and ($desktop) {
				line-height: 72px;
			}
		}
	}
}
.projects {
	margin: 0px 16px;
	@media screen and (min-width: $desktop) {
		margin: 0px 128px;
	}
	&__container {
		width: 100%;
		margin: 64px auto 46px;
		// margin-top: 64px;
		// margin-bottom: 46px;
		text-align: center;
		@media screen and (min-width: $desktop) {
			width: 782px;
			margin-top: 80px;
			margin-bottom: 128px;
		}
	}
	&__header {
		margin: 0 0 32px 0;
		max-width: 782px;
		@media screen and (min-width: $desktop) {
			margin-bottom: 40px;
		}
	}
	&__text {
		color: $text;
		margin: 0;
		@include mobile-text;
		@media screen and (min-width: $desktop) {
			@include text;
		}
	}
}

.boxes {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 64px;
	@media screen and (min-width: $desktop) {
		margin: 0 auto 176px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 24px;
		row-gap: 24px;
		max-width: 1184px;
	}
}

.box {
	background-color: $console2;
	border-radius: 16px;
	color: $main;
	border: none;
	height: 100%;
	padding-bottom: 24px;
	min-width: 51vw;
	max-width: 680px;
	margin-bottom: 24px;
	@media screen and (min-width: $desktop) {
		min-width: 0;
	}
	&__header {
		height: 40px;
		background-color: $console1;
		margin: 0;
		padding: 0px 0px 0px 16px;
		border-radius: 16px 16px 0 0;
		&--dot {
			display: inline-block;
			width: 8px;
			height: 8px;
			background-color: $console3;
			border-radius: 50%;
			margin: 16px 8px 16px 0px;
		}
	}
	&__container {
		padding: 24px 16px 16px;
		& svg {
			margin-bottom: 24px;
		}
	}
	&__list {
		flex-direction: column;
		padding: 0;
		margin: 0;
		& > li {
			display: grid;
			grid-template-columns: 4fr 6fr;
			margin-bottom: 8px;
			color: $console5;
			@include mobile-console;
			@media screen and (min-width: $desktop) {
				grid-template-columns: 3fr 7fr;
				@include console;
			}
			&:nth-child(2) {
				margin-bottom: 24px;
			}
			& > a {
				color: $console-link;
				text-decoration: underline;
				&::before,
				::after {
					display: inline-block;
					content: "<";
					color: $console4;
				}
				&::after {
					display: inline-block;
					content: ">";
					color: $console4;
				}
			}
		}
		&--desc {
			@include mobile-console;
			text-align: right;
			margin-right: 4px;
			color: $console4;
		}
		&--projectName {
			color: $main;
			font-weight: 700;
			line-height: 24px;
		}
	}
}

.contact {
	background-color: $blue-light;
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
		padding: 64px 16px 88px;
		max-width: 782px;
		@media screen and (min-width: $desktop) {
			padding: 80px 0 176px;
		}
	}
	&__header {
		margin-bottom: 32px;
		@media screen and (min-width: $desktop) {
			margin-bottom: 40px;
		}
	}
	&__text {
		color: $text;
		margin-bottom: 56px;
		text-align: center;
		@include mobile-text;
		@media screen and (min-width: $desktop) {
			@include text;
			margin-bottom: 128px;
		}
	}
	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		@media screen and (min-width: $desktop) {
			flex-direction: row;
			justify-content: space-around;
		}
		&--icons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 192px;
			margin-bottom: 64px;
			@media screen and (min-width: $desktop) {
				margin-bottom: 0;
			}
		}
		&--icon {
			position: relative;
			width: 48px;
			height: 48px;
			background-color: $main;
			border-radius: 50%;
			box-shadow: 0px 4px 8px rgba(16, 112, 202, 0.15);
			& > svg {
				position: absolute;
				top: 25%;
				left: 25%;
			}
		}
		&--link {
			padding: 4px 24px;
			background-color: $link;
			text-align: center;
			border-radius: 64px;
		}
		&--link > a {
			@include text-bold;
			color: $main;
			@media screen and (max-width: 359px) {
				font-size: 16px;
			}
		}
	}
}
